body {
    color: #333;
    background: #fff;
    line-height: 1.8;
    font-family: "Hiragino Kaku Gothic ProN";
    *{
        box-sizing: border-box;
    }
}

a {
    color: #333;
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

p {
    margin-bottom: 1.5em;
    &:last-of-type {
        margin-bottom: 0;
    }
}

h2,h3,h4,h5,h6 {
    font-weight: bold;
}