// サイトカラー
$blue: #1593EF;
$main_blue: #92BFDB;
$line_blue: #C2D6E5;
$bg_blue: #EAF6FF;
$sb_yellow: #EBB708;
$bg_yellow: #FCF3D7;

//バリアブルポイント
$lg: 1200px;
$md: 1024px;
$sm: 767px;
$xs: 575px;