@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  color: #333;
  background: #fff;
  line-height: 1.8;
  font-family: "Hiragino Kaku Gothic ProN";
}
body * {
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

p {
  margin-bottom: 1.5em;
}
p:last-of-type {
  margin-bottom: 0;
}

h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/*----------------------------------------
基本幅
----------------------------------------*/
.blContainer {
  width: 85%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/*----------------------------------------
見出し
----------------------------------------*/
.heading {
  padding-bottom: 0.25em;
}
.heading__subTitle {
  font-size: 0.25rem;
  color: #1593EF;
}
.heading__mainText {
  font-size: 1.75rem;
  line-height: 1.4;
  border-bottom: 1px dashed #1593EF;
  position: relative;
  display: inline-block;
}
.heading__mainText::after {
  content: "";
  width: 16px;
  height: 18px;
  position: absolute;
  top: -10px;
  right: -14px;
  background: url("../img/heading_line.svg") no-repeat;
}

/*----------------------------------------
角丸トリミング
----------------------------------------*/
.trimRounded {
  overflow: hidden;
  border-radius: 10px;
}

/*----------------------------------------
ラベル
----------------------------------------*/
.label {
  list-style: none;
  padding: 5px 10px;
  background: #EBB708;
  color: #fff;
  border-radius: 3px;
}

/*----------------------------------------
ボタン
----------------------------------------*/
.button {
  display: inline-block;
  padding: 0.7em 2.5em 0.6em 2em;
  background: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 3px;
  margin-top: 30px;
  position: relative;
  transition: all ease 0.15s;
}
.button::after {
  content: "\f105";
  font: var(--fa-font-solid);
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}
.button:hover {
  background: #1593EF;
  color: #fff;
  border: 1px solid #1593EF;
}
.button:hover:after {
  right: 0.25em;
  transition: all ease 0.15s;
}

/*----------------------------------------
カード
----------------------------------------*/
.card {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}
.card:nth-child(3n) {
  margin-right: 0;
}
.card__link {
  display: block;
}
.card__img {
  width: 100%;
  transition: all ease 0.25s;
}
.card__img:hover {
  transform: scale(1.2);
}
.card__imgWrapper {
  margin-bottom: 10px;
}
.card__date {
  font-size: 0.75rem;
}
.card__title :hover {
  font-weight: bold;
  text-decoration: underline;
}
.card__description {
  font-size: 0.9375rem;
}

.cards {
  display: flex;
}
.cards__item {
  list-style: none;
}

/*----------------------------------------
ヘッダー
----------------------------------------*/
.header {
  display: flex;
}
.header__title {
  margin-top: 15px;
  margin-right: auto;
}

.siteTitle__tagLine {
  font-size: 0.6875rem;
  margin-bottom: 5px;
}
.siteTitle__tagLine {
  font-weight: lighter;
  white-space: nowrap;
}

.pcMenu__sub {
  margin-bottom: 15px;
}

.subMenu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.subMenu__recruitLink {
  font-size: 0.875rem;
  margin-right: 25px;
}
.subMenu__recruitLink:hover {
  text-decoration: underline;
}
.subMenu__recruitLink i {
  margin-left: 5px;
  font-weight: bold;
}
.subMenu__shop {
  display: flex;
}
.subMenu__shopLink {
  width: 115px;
  padding: 15px 27px;
  background: #1593EF;
  text-align: center;
  border-radius: 0 0 5px 5px;
  color: #fff;
  white-space: nowrap;
  gap: 10px;
}
.subMenu__shopLink:hover {
  opacity: 0.7;
}
.subMenu__shopLink:first-child {
  margin-right: 10px;
}

.mainMenu {
  margin-bottom: 15px;
}
.mainMenu__list {
  display: flex;
}
.mainMenu__item {
  width: 115px;
  margin-right: 10px;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 2px solid #C2D6E5;
  font-size: 0.9375rem;
}
.mainMenu__item:hover {
  opacity: 0.7;
}
.mainMenu__label {
  font-size: 0.625rem;
  color: #1593EF;
}

/*----------------------------------------
キービジュアル
----------------------------------------*/
.keyVisual {
  position: relative;
}
.keyVisual__inner {
  display: flex;
  align-items: center;
  background: #EAF6FF;
  padding: 30px 130px;
  padding-bottom: 50px;
}
.keyVisual__imgArea {
  margin-left: auto;
}
.keyVisual__cath {
  font-size: 3.75rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
}
.keyVisual__cath span {
  color: #1593EF;
}
.keyVisual__lead {
  font-size: 0.875rem;
  margin-bottom: 30px;
}
.keyVisual__sabcath {
  font-size: 1.75rem;
  color: #fff;
}
.keyVisual__sabcath span {
  background: #EBB708;
  padding: 0.25rem 0.5rem;
  line-height: 2;
}
.keyVisual__imgArea {
  padding-left: 50px;
}
.keyVisual__bottomWave {
  width: 100%;
  height: 50px;
}
.keyVisual__bottomWaveImg {
  width: 100%;
  height: 50px;
  position: absolute;
}

/*----------------------------------------
採用ステッキバナー
----------------------------------------*/
.recruitBanner {
  position: fixed;
  top: 50%;
  right: 0;
  width: 50px;
  height: 150px;
  text-align: center;
  border-radius: 5px 0 0 5px;
  background: #EBB708;
  color: #fff;
  writing-mode: vertical-rl;
  z-index: 999;
  letter-spacing: 0.3em;
  transform: translateY(-50%);
  padding-right: 10px;
}

/*----------------------------------------
ごあいさつ
----------------------------------------*/
.messageBlock {
  display: flex;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
}
.messageBlock__imgArea {
  flex: 1 1 520px;
  margin-right: 40px;
}
.messageBlock__textArea {
  flex: 1 1.5 600px;
  background: #EAF6FF;
  padding: 0 30px 30px;
  background-image: url(../img/message_text_bg.jpg);
}
.messageBlock__heading {
  margin-top: -40px;
}
.messageBlock p {
  margin-top: 20px;
}

/*----------------------------------------
service(私たちができること)
----------------------------------------*/
.serviceBlock {
  background: #EAF6FF;
  padding-top: 70px;
  padding-bottom: 70px;
}
.serviceBlock__heading {
  text-align: center;
  margin-bottom: 50px;
}

.serviceContent {
  display: flex;
  margin-top: 60px;
}
.serviceContent__textArea {
  flex: 1 1.5 600px;
  margin-right: 40px;
}
.serviceContent__heading {
  font-size: 1.625rem;
  color: #1593EF;
  border-bottom: 1px solid #1593EF;
  margin-bottom: 30px;
}
.serviceContent__imgArea {
  flex: 1 1 520px;
}
.serviceContent__labels {
  display: flex;
  margin-top: 10px;
}
.serviceContent__label {
  margin-right: 10px;
}
.serviceContent__label:last-of-type {
  margin-right: 0;
}

.serviceContent__reverse {
  flex-direction: row-reverse;
}
.serviceContent__reverse .serviceContent__textArea {
  margin-left: 40px;
  margin-right: 0;
}

/*----------------------------------------
colum(お役立ちコラム)
----------------------------------------*/
.columBlock {
  padding-top: 70px;
  padding-bottom: 70px;
}
.columBlock__heading {
  margin-bottom: 35px;
}
.columBlock__button {
  text-align: center;
}

/*----------------------------------------
pharmacy(店舗情報)
----------------------------------------*/
.shopBlock {
  padding-top: 0;
  padding-bottom: 70px;
}
.shopBlock__heading {
  text-align: center;
  position: relative;
  z-index: 1;
}
.shopBlock__headingInner {
  font-size: 1.5rem;
  display: inline-block;
  padding: 10px 55px;
  background: #1593EF;
  border: 1px solid #fff;
  border-radius: 35px;
  line-height: 1.3;
  color: #fff;
}
.shopBlock__headingLabel {
  font-size: 0.875rem;
}
.shopBlock__shopWrapper {
  display: flex;
  margin-top: -30px;
}
.shopBlock__shopItem {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
}

.shopInfo {
  border-radius: 0 0 0 60px;
  overflow: hidden;
}
.shopInfo__img {
  width: 100%;
}
.shopInfo__textArea {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: #EAF6FF;
  padding: 30px 30px 35px;
}
.shopInfo__title {
  font-weight: bold;
  font-style: 1.375rem;
  text-align: center;
  margin-bottom: 30px;
}
.shopInfo__table {
  margin-bottom: auto;
}
.shopInfo__tableRow {
  white-space: nowrap;
  padding-right: 20px;
  text-align: left;
}
.shopInfo__tableHeader {
  font-weight: bold;
  padding-right: 35px;
}
.shopInfo__tableDate {
  font-size: 0.9375rem;
}
.shopInfo__map {
  margin: 30px 0;
  position: relative;
}
.shopInfo__map::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 56.25%;
}
.shopInfo__mapInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.shopInfo__mapInner iframe {
  width: 100%;
  height: 100%;
}
.shopInfo__LinkWrapper {
  text-align: center;
}

.shopInfo_v2 {
  border-radius: 0 0 60px 0;
}
.shopInfo_v2 .shopInfo__textArea {
  background: #FCF3D7;
}

/*----------------------------------------
お知らせ(News)
----------------------------------------*/
.newsBlock__newsList__link {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */