@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  color: #333;
  background: #fff;
  line-height: 1.8;
  font-family: "Hiragino Kaku Gothic ProN";
}
body * {
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

p {
  margin-bottom: 1.5em;
}
p:last-of-type {
  margin-bottom: 0;
}

h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/*----------------------------------------
基本幅
----------------------------------------*/
.blContainer {
  width: 85%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/*----------------------------------------
サブページレイアウト(サイドバーあり)
----------------------------------------*/
.pageContainer {
  display: flex;
  margin-top: 50px;
}
.pageContainer__main {
  flex: 1 1 800px;
  margin-right: 80px;
}
@media screen and (max-width: 767px) {
  .pageContainer__main {
    margin-right: 0;
  }
}
.pageContainer__sidebar {
  flex: 1 1 320px;
}
@media screen and (max-width: 767px) {
  .pageContainer {
    display: block;
  }
}

/*----------------------------------------
サブページヘッダー
----------------------------------------*/
.sabpadeHeader {
  font-size: 1.6875rem;
  font-weight: bold;
  text-align: center;
  background: #EAF6FF;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .sabpadeHeader {
    margin-top: 65px;
  }
}

/*----------------------------------------
サブページ_テーブル
----------------------------------------*/
.horizontalTable {
  width: 100%;
}
.horizontalTable__header {
  white-space: nowrap;
  padding-right: 50px;
  padding-left: 3px;
  border-bottom: 1px solid #ccc;
}
.horizontalTable__date {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

/*----------------------------------------
サブページ_サイドバー
----------------------------------------*/
.sidebar__block {
  border-radius: 10px;
  border: 2px solid #E2E8ED;
  padding: 25px;
  margin-bottom: 20px;
}
.sidebar__block:last-child {
  margin-bottom: 0;
}

.sidebarBlock__heading {
  font-size: 1.125rem;
  color: #1593EF;
  font-weight: bold;
  margin-bottom: 15px;
}
.sidebarBlock i {
  margin-right: 5px;
}

/*----------------------------------------
パンくずリスト
----------------------------------------*/
.breadcrumb {
  display: flex;
  list-style: none;
  font-size: 0.8125rem;
  margin-top: 25px;
}
.breadcrumb__item:after {
  content: ">";
  margin-left: 5px;
  margin-right: 5px;
}
.breadcrumb__item:hover {
  text-decoration: underline;
}
.breadcrumb__item:last-child::after {
  display: none;
}
.breadcrumb__link {
  text-decoration: underline;
}

/*----------------------------------------
見出し
----------------------------------------*/
.heading {
  padding-bottom: 0.25em;
}
.heading__subTitle {
  font-size: 0.25rem;
  color: #1593EF;
}
.heading__mainText {
  font-size: 1.75rem;
  line-height: 1.4;
  border-bottom: 1px dashed #1593EF;
  position: relative;
  display: inline-block;
}
.heading__mainText::after {
  content: "";
  width: 16px;
  height: 18px;
  position: absolute;
  top: -10px;
  right: -14px;
  background: url("../img/heading_line.svg") no-repeat;
}

/*----------------------------------------
角丸トリミング
----------------------------------------*/
.trimRounded {
  overflow: hidden;
  border-radius: 10px;
}

/*----------------------------------------
ラベル
----------------------------------------*/
.label {
  display: inline-block;
  list-style: none;
  padding: 5px 10px;
  background: #EBB708;
  color: #fff;
  border-radius: 3px;
  white-space: nowrap;
}

.label_theme_seminar {
  background: #1593EF;
}

/*----------------------------------------
ボタン
----------------------------------------*/
.button {
  display: inline-block;
  padding: 0.7em 2.5em 0.6em 2em;
  background: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 3px;
  margin-top: 30px;
  position: relative;
  transition: all ease 0.15s;
}
.button .fa-solid {
  content: "\f105";
  font: var(--fa-font-solid);
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}
.button:hover {
  background: #1593EF;
  color: #fff;
  border: 1px solid #1593EF;
}

/*----------------------------------------
カード
----------------------------------------*/
.card:nth-child(3n) {
  margin-right: 0;
}
.card__link {
  display: block;
}
.card__img {
  width: 100%;
  transition: all ease 0.25s;
}
.card__img:hover {
  transform: scale(1.2);
}
.card__imgWrapper {
  margin-bottom: 10px;
}
.card__date {
  font-size: 0.75rem;
}
.card__title :hover {
  font-weight: bold;
  text-decoration: underline;
}
.card__description {
  font-size: 0.9375rem;
}

.cards {
  display: flex;
}
@media screen and (max-width: 1200px) {
  .cards {
    display: block;
  }
}
.cards__item {
  list-style: none;
}

.cards_col3 {
  margin-right: 30px;
}
.cards_col3:last-child {
  margin-right: 0;
}

/*----------------------------------------
ヘッダー
----------------------------------------*/
.header {
  display: flex;
}
@media screen and (max-width: 1200px) {
  .header {
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 9999;
    padding: 0 4% 0 4%;
  }
}
.header__title {
  margin-top: 15px;
  margin-right: auto;
}
@media screen and (max-width: 1200px) {
  .header__title {
    margin-top: 5px;
  }
}
.header__pcMenu {
  display: none;
}
@media screen and (max-width: 1200px) {
  .header__pcMenu {
    display: block;
  }
}
.header__spMenu {
  display: none;
}
@media screen and (max-width: 1200px) {
  .header__spMenu {
    display: block;
  }
}

.siteTitle__tagLine {
  font-size: 0.6875rem;
  margin-bottom: 5px;
}
@media screen and (max-width: 1200px) {
  .siteTitle__tagLine {
    margin-bottom: 0;
  }
}
.siteTitle__tagLine {
  font-weight: lighter;
  white-space: nowrap;
}
@media screen and (max-width: 1200px) {
  .siteTitle__logo {
    display: inline-block;
    width: 110px;
  }
}

@media screen and (max-width: 1200px) {
  .pcMenu {
    display: none;
  }
}
.pcMenu__sub {
  margin-bottom: 15px;
}

.subMenu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.subMenu__recruitLink {
  font-size: 0.875rem;
  margin-right: 25px;
}
.subMenu__recruitLink:hover {
  text-decoration: underline;
}
.subMenu__recruitLink i {
  margin-left: 5px;
  font-weight: bold;
}
.subMenu__shop {
  display: flex;
}
.subMenu__shopLink {
  width: 115px;
  padding: 15px 27px;
  background: #1593EF;
  text-align: center;
  border-radius: 0 0 5px 5px;
  color: #fff;
  white-space: nowrap;
  gap: 10px;
}
.subMenu__shopLink:hover {
  opacity: 0.7;
}
.subMenu__shopLink:first-child {
  margin-right: 10px;
}

.mainMenu {
  margin-bottom: 15px;
}
.mainMenu__list {
  display: flex;
}
.mainMenu__item {
  width: 115px;
  margin-right: 10px;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 2px solid #C2D6E5;
  font-size: 0.9375rem;
}
.mainMenu__item:hover {
  opacity: 0.7;
}
.mainMenu__label {
  font-size: 0.625rem;
  color: #1593EF;
}

/*----------------------------------------
スマホメニュー(ハンバーガーメニュー)
----------------------------------------*/
.spMenu__toggle {
  position: absolute;
  top: -200px;
}
.spMenu__toggle:checked ~ .spMenu__wrapper {
  display: block;
}
.spMenu__toggle:focus-visible ~ .spMenu__hamburger {
  box-shadow: 1px 1px 2px gray;
}
.spMenu__toggle:checked ~ .spMenu__hamburger .spMenu__hamburgerLine {
  background: transparent;
}
.spMenu__toggle:checked ~ .spMenu__hamburger .spMenu__hamburgerLine::before {
  top: 50%;
  transform: rotate(45deg);
}
.spMenu__toggle:checked ~ .spMenu__hamburger .spMenu__hamburgerLine::after {
  top: 50%;
  transform: rotate(-45deg);
}
.spMenu__hamburger {
  width: 42px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 20px;
}
.spMenu__hamburgerLine {
  background: #1593EF;
  display: block;
  width: 42px;
  height: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.spMenu__hamburgerLine::before {
  content: "";
  position: absolute;
  top: -10px;
  width: 100%;
  height: 2px;
  background: #1593EF;
}
.spMenu__hamburgerLine::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background: #1593EF;
}
.spMenu__wrapper {
  display: none;
  overflow-y: scroll;
  height: calc(100vh - 65px);
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 9999;
  width: 100%;
  padding: 25px 4% 50px;
  background: #EAF6FF;
}

.mainSpMenu__item {
  margin-bottom: 50px;
}
.mainSpMenu__list {
  list-style: none;
  border-bottom: 1px dotted #C2D6E5;
}
.mainSpMenu__link {
  display: block;
  padding: 0.8em 3px;
}

.subSpMenu__recruitLink {
  display: block;
  color: white;
  text-align: center;
  background: #EBB708;
  padding: 0.8em 0 0.6em;
  border-radius: 3px;
  margin-bottom: 2%;
}
.subSpMenu__shop {
  display: flex;
  justify-content: space-between;
}
.subSpMenu__shopLink {
  width: 48.5%;
  color: white;
  text-align: center;
  background: #1593EF;
  padding: 0.8em 0 0.6em;
  border-radius: 3px;
}

/*----------------------------------------
main
----------------------------------------*/
@media screen and (max-width: 1200px) {
  .toppageMain {
    margin-top: 65px;
  }
}

/*----------------------------------------
キービジュアル
----------------------------------------*/
.keyVisual {
  position: relative;
}
.keyVisual__inner {
  display: flex;
  align-items: center;
  background: #EAF6FF;
  padding: 30px 130px;
  padding-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .keyVisual__inner {
    display: block;
    padding: 30px 50px;
    text-align: center;
  }
}
.keyVisual__imgArea {
  padding-left: 50px;
  margin-left: auto;
}
.keyVisual__imgArea img {
  flex: 1 1 50%;
}
@media screen and (max-width: 767px) {
  .keyVisual__imgArea {
    padding-left: 0px;
    padding-top: 50px;
  }
}
.keyVisual__cath {
  font-size: 3.75rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
}
.keyVisual__cath span {
  color: #1593EF;
}
.keyVisual__lead {
  font-size: 0.875rem;
  margin-bottom: 30px;
}
.keyVisual__sabcath {
  font-size: 1.75rem;
  color: #fff;
}
.keyVisual__sabcath span {
  background: #EBB708;
  padding: 0.25rem 0.5rem;
  line-height: 2;
}
.keyVisual__textArea {
  flex: 1 1 50%;
}
.keyVisual__bottomWave {
  width: 100%;
  height: 50px;
}
.keyVisual__bottomWaveImg {
  width: 100%;
  height: 50px;
  position: absolute;
}

/*----------------------------------------
採用ステッキバナー
----------------------------------------*/
.recruitBanner {
  position: fixed;
  top: 50%;
  right: 0;
  width: 50px;
  height: 150px;
  text-align: center;
  border-radius: 5px 0 0 5px;
  background: #EBB708;
  color: #fff;
  writing-mode: vertical-rl;
  z-index: 999;
  letter-spacing: 0.3em;
  transform: translateY(-50%);
  padding-right: 10px;
}

/*----------------------------------------
ごあいさつ
----------------------------------------*/
.messageBlock {
  display: flex;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
}
.messageBlock__imgArea {
  flex: 1 1 520px;
  margin-right: 40px;
}
@media screen and (max-width: 767px) {
  .messageBlock__imgArea {
    margin-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  .messageBlock {
    display: block;
  }
}
.messageBlock__textArea {
  flex: 1 1.5 600px;
  background: #EAF6FF;
  padding: 0 30px 30px;
  background-image: url(../img/message_text_bg.jpg);
}
.messageBlock__heading {
  margin-top: -40px;
}
@media screen and (max-width: 767px) {
  .messageBlock__heading {
    margin-top: 15px;
  }
}
.messageBlock p {
  margin-top: 20px;
}

/*----------------------------------------
service(私たちができること)
----------------------------------------*/
.serviceBlock {
  background: #EAF6FF;
  padding-top: 70px;
  padding-bottom: 70px;
}
.serviceBlock__heading {
  text-align: center;
  margin-bottom: 50px;
}

.serviceContent {
  display: flex;
  margin-top: 60px;
}
@media screen and (max-width: 767px) {
  .serviceContent {
    display: block;
  }
}
.serviceContent__textArea {
  flex: 1 1.5 600px;
  margin-right: 40px;
}
@media screen and (max-width: 767px) {
  .serviceContent__textArea {
    margin-bottom: 30px;
    margin-right: 0px;
  }
}
.serviceContent__heading {
  font-size: 1.625rem;
  color: #1593EF;
  border-bottom: 1px solid #1593EF;
  margin-bottom: 30px;
}
.serviceContent__imgArea {
  flex: 1 1 520px;
}
.serviceContent__labels {
  display: flex;
  margin-top: 10px;
}
.serviceContent__label {
  margin-right: 10px;
}
.serviceContent__label:last-of-type {
  margin-right: 0;
}

.serviceContent__reverse {
  flex-direction: row-reverse;
}
.serviceContent__reverse .serviceContent__textArea {
  margin-left: 40px;
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .serviceContent__reverse .serviceContent__textArea {
    margin-left: 0px;
  }
}

/*----------------------------------------
colum(お役立ちコラム)
----------------------------------------*/
.columBlock {
  padding-top: 70px;
  padding-bottom: 70px;
}
.columBlock__heading {
  margin-bottom: 35px;
}
.columBlock__button {
  text-align: center;
}

/*----------------------------------------
pharmacy(店舗情報)
----------------------------------------*/
.shopBlock {
  padding-top: 0;
  padding-bottom: 70px;
}
.shopBlock__heading {
  text-align: center;
  position: relative;
  z-index: 1;
}
.shopBlock__headingInner {
  font-size: 1.5rem;
  display: inline-block;
  padding: 10px 55px;
  background: #1593EF;
  border: 1px solid #fff;
  border-radius: 35px;
  line-height: 1.3;
  color: #fff;
}
.shopBlock__headingLabel {
  font-size: 0.875rem;
}
.shopBlock__shopWrapper {
  display: flex;
  margin-top: -30px;
}
@media screen and (max-width: 1200px) {
  .shopBlock__shopWrapper {
    display: block;
  }
}
.shopBlock__shopItem {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
}

.shopInfo {
  border-radius: 0 0 0 60px;
  overflow: hidden;
}
.shopInfo__img {
  width: 100%;
}
.shopInfo__textArea {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background: #EAF6FF;
  padding: 30px 30px 35px;
}
.shopInfo__title {
  font-weight: bold;
  font-style: 1.375rem;
  text-align: center;
  margin-bottom: 30px;
}
.shopInfo__table {
  margin-bottom: auto;
}
.shopInfo__tableRow {
  white-space: nowrap;
  padding-right: 20px;
  text-align: left;
}
.shopInfo__tableHeader {
  font-weight: bold;
  padding-right: 35px;
}
.shopInfo__tableDate {
  font-size: 0.9375rem;
}
.shopInfo__map {
  margin: 30px 0;
  position: relative;
}
.shopInfo__map::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 56.25%;
}
.shopInfo__mapInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.shopInfo__mapInner iframe {
  width: 100%;
  height: 100%;
}
.shopInfo__LinkWrapper {
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .shopInfo {
    border-radius: 0;
  }
}

.shopInfo_v2 {
  border-radius: 0 0 60px 0;
}
.shopInfo_v2 .shopInfo__textArea {
  background: #FCF3D7;
}
@media screen and (max-width: 767px) {
  .shopInfo_v2 {
    border-radius: 0px;
  }
}

/*----------------------------------------
お知らせ(News)
----------------------------------------*/
.newsBlock__heading {
  margin-bottom: 30px;
}

.newsList {
  list-style: none;
}
.newsList__link {
  display: flex;
  align-items: flex-start;
  padding: 0.8em 2px 0.3em;
  border-bottom: 1px dashed #A7A7A7;
}
.newsList__link:hover .newsList__title {
  text-decoration: underline;
}
.newsList__date {
  margin-right: 25px;
}
.newsList__label {
  margin-right: 10px;
  font-size: 0.8125rem;
}
.newsList__LinkWrapper {
  text-align: center;
}

/*----------------------------------------
フッター
----------------------------------------*/
.footer {
  background: #EAF6FF;
  margin-top: 60px;
  padding: 30px 0;
}
.footer__title {
  text-align: center;
}
.footer__navItem {
  border-left: 1px solid #C2D6E5;
  padding: 0 15px;
}
@media screen and (max-width: 767px) {
  .footer__navItem {
    border-left: 0;
    padding: 10px 0px;
  }
}
.footer__navItem:hover {
  background: #C2D6E5;
}
.footer__shopList {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.footer__shop {
  line-height: 1.4;
  text-align: center;
  margin-right: 40px;
  padding-right: 40px;
  border-right: 1px solid #C2D6E5;
}
.footer__shop:last-child {
  margin-right: 0;
  padding-right: 0;
  border: none;
}
.footer__navList {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .footer__navList {
    display: block;
  }
}
.footer__copyright {
  text-align: center;
  margin-top: 30px;
}

/*----------------------------------------
サブページ_大見出し
----------------------------------------*/
.pageContentHeading {
  font-size: 1.625rem;
  font-weight: bold;
  margin-bottom: 40px;
}

/*----------------------------------------
サブページ_map
----------------------------------------*/
.accessMap {
  position: relative;
  margin-bottom: 20px;
}
.accessMap::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 56.25%;
}
.accessMap__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

/*----------------------------------------
サブページ_shop
----------------------------------------*/
.shopGallery {
  margin-top: 30px;
}
.shopGallery__items {
  display: flex;
}
.shopGallery__item {
  margin-right: 30px;
  margin-bottom: 20px;
}
.shopGallery__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  .shopGallery__item {
    margin-right: 10px;
  }
}

/*----------------------------------------
サブページ_サイドバー
----------------------------------------*/
.sidebar__cards {
  list-style: none;
}
.sidebar__card {
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */